body{
  animation: background-pan 10s linear infinite;
   background: linear-gradient(
     to right,
     var(--g1),
     var(--g2),
     var(--g1)
   );
   background-size: 200%;
}

@keyframes background-pan{
  from{
    background-position: 0% center;
  }
  to{
    background-position: -200% center;
  }
}

:root{
  --g1:rgb(98,0,234);
  --g2:rgb(236,64,122);
  --g3:rgb(0, 149, 236);
  --g4:rgb(28, 90, 54);
  --g5:rgb(174, 177, 39);
  --g6:rgb(136, 97, 66);
  --g7:rgb(38, 141, 81);
  --g8:rgb(255, 60, 0);
  --g9:rgb(255, 123, 0);
  --g10:rgb(0, 80, 236);
}







.decor {
  color: rgb(211, 175, 129);
  font-size: 36px;
  line-height: 1em;
  padding: 10px 0;
  margin: 0;
  letter-spacing: 6px;
  user-select: none;
  height:90px;
  text-align: center;
  margin-left: 10px;
  margin-top: 50px;
  font-size: 34px;
  font-weight: bold;
}

.form{
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.form-outer{
  width: 380px;
  height: 540px;
  border-style: solid;
  border-width: 1px;
  background-color: white;
}

.form{
  display: flex;
  justify-content: center;
  margin-top: 200px;
}


.user-form{
  height: 30px;
  width: 300px;
  margin-left: 36px;

}

.pass-form{
  height: 30px;
  width: 300px;
  margin-left: 36px;
  margin-top: 10px;
}



.login-outer{
  margin-left: 36px;
  margin-top: 30px;
}

button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

.login-btn{
  width: 300px;
  height: 30px;
  line-height: 30px;
  border-radius: 10px;
  background-color:darkmagenta;
  color: white;
  font-weight: bold;
  margin-left: 4px;
}

.sub-outer{
  text-align: center;
  margin-top: 500px;
  margin-left: -200px;
}

.sub-dierect{
  text-decoration: none;
}

.sub{
  font-weight: bold;
  
}

.error-message {
  color: red;
  font-size: 12px;
  height:20px;
  margin-top: 5px;
  margin-left: 30px;
}

.username{
  margin-top: -38px;
}

.password{
  margin-bottom: -12px;
}

.password-confirm{
  margin-bottom: -12px;
}

.email{
  margin-bottom: -12px;
}

.user-login{
  font-weight: bold;
  font-size: 16px;
  color: blue;
}

.balloon-reset {
  position: fixed;
  display: inline-block;
  margin-top: -68px;
  margin-left: 30px;
  z-index: 12;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #83b1f1;
  border-radius: 15px;
}

.balloon-reset:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #83b1f1;
}

.balloon-reset p {
  margin: 0;
  padding: 0;
  font-size:12px;
  font-weight: bold;
  color: black;

}

.balloon-reset2 {
  position: fixed;
  display: inline-block;
  margin-top: -28px;
  margin-left: 30px;
  z-index: 12;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #83b1f1;
  border-radius: 15px;
}

.balloon-reset2:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #83b1f1;
}

.balloon-reset2 p {
  margin: 0;
  padding: 0;
  font-size:12px;
  font-weight: bold;
  color: black;

}

