body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 34px;
  font-weight: bold;
  letter-spacing: 6px;
}

.title img {
  width: 40px; /* アイコンの幅を調整 */
  height: 40px; /* アイコンの高さを調整 */
  margin-left: 20px; /* アイコンとテキストの間隔を調整 */
  margin-right:4px;
  vertical-align: bottom; /* テキストとアイコンの垂直配置を調整 */
}

.tabs {
  display: flex;
  gap: 20px;
  margin-left:-300px;
}

.tab {
  position: relative;
  font-size: 18px;
  cursor: pointer;
  font-size: 25px;
  margin-left: 100px;
  color: orange;
}

.tab:hover {
  color:orangered;
}


.tab::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0; /* 初期状態で下線の幅を0に設定 */
  height: 1px;
  background-color: dimgrey;
  opacity: 0;
  transition: width 0.5s ease; /* アニメーションの設定：幅を0.3秒かけて変化させる */
}

.tab.active::after {
  opacity: 1;
  width: 100%; /* アクティブなタブで下線の幅を100%にする（右から左に伸びる） */
}


.user-info {
  font-size: 18px;
  padding: 10px;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: #ccc;
}


/* ドロップダウンメニューのスタイル */
.tab-dropdown {
  position:absolute;
  display: flex; 
  font-size: 25px;
  margin-left: 1090px;
  cursor: pointer;
  user-select: none;
}

.tab-dropdown:hover{
  color: orangered;
}

.tab-dropdown .dropdown-menu {
  display: none;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 100%;
  left: 0;
  flex-direction: row;
  margin-top: 50px;
  margin-left: -135px;
}




.dropdown-item {
  margin-left: -40px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  color: #333;
  font-size: 16px;
  list-style: none;
  font-weight: bold;
  
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

.tab i {
  padding-right: 12px;
}



.tab .fa-wrench{
  margin-top: 5px;
}

.user-name{
  color:orange;
}