body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.front-content {
  position: relative;
  z-index: 2; 
}

.front-content2 {
  position: relative;
  z-index: 1; 
}

.background-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 50px 50px;
  background-image: url('/Icon/DecorHelperIcon.png'); 
  background-repeat: repeat; 
  animation: slideBackground 30s linear infinite;
  z-index: 0;
}

@keyframes slideBackground {
  0% {
    background-position: 0 0; /* 左上からスタート */
  }
  100% {
    background-position: 100% 100%; /* 右下まで移動 */
  }
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color:#211974;
}

header {
  background-color: #333;
  color: #fff;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 34px;
  font-weight: bold;
  letter-spacing: 6px;
}

.title img {
  width: 40px; /* アイコンの幅を調整 */
  height: 40px; /* アイコンの高さを調整 */
  margin-left: 20px; /* アイコンとテキストの間隔を調整 */
  margin-right:4px;
  vertical-align: bottom; /* テキストとアイコンの垂直配置を調整 */
}

.tabs {
  display: flex;
  gap: 20px;
  margin-left:-300px;
}

.tab {
  position: relative;
  font-size: 18px;
  cursor: pointer;
  font-size: 25px;
  margin-left: 100px;
  color: orange;
}

.tab:hover {
  color:orangered;
}


.tab::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0; /* 初期状態で下線の幅を0に設定 */
  height: 1px;
  background-color: dimgrey;
  opacity: 0;
  transition: width 0.5s ease; /* アニメーションの設定：幅を0.3秒かけて変化させる */
}

.tab.active::after {
  opacity: 1;
  width: 100%; /* アクティブなタブで下線の幅を100%にする（右から左に伸びる） */
}


.user-info {
  font-size: 18px;
  padding: 10px;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: #ccc;
}


/* ドロップダウンメニューのスタイル */
.tab-dropdown {
  position:absolute;
  display: flex; 
  font-size: 25px;
  margin-left: 1090px;
  cursor: pointer;
  user-select: none;
}

.tab-dropdown:hover{
  color: orangered;
}

.tab-dropdown .dropdown-menu {
  display: none;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 100%;
  left: 0;
  flex-direction: row;
  margin-top: 50px;
  margin-left: -135px;
}




.dropdown-item {
  margin-left: -40px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  color: #333;
  font-size: 16px;
  list-style: none;
  font-weight: bold;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

.tab i {
  padding-right: 12px;
}



.tab .fa-wrench{
  margin-top: 5px;
}

.user-name{
  color:orange;
}

/* デフォルトのプロパティをリセット */
button{
 padding: 0;
 border: none;
 background-color: transparent;
 color: inherit;
 font: inherit;
}




/* homeleft-outer のスタイル */
.homeleft-outer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 20px;
}

/* home-spacelist のスタイル */
.home-spacelist {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 350px;
  width: 250px;
  overflow: auto;
  border: 2px solid #000;
  margin-top: 40px;
  background-color:rgba(255, 255, 255, 0.8);
}

/* home-spacetext のスタイル */
.home-spacetext {
  position: absolute;
  margin-top: 5px;
  text-align: center;
}

/* home-roomlist のスタイル */
.home-roomlist {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 350px;
  width: 250px;
  border: 2px solid #000;
  margin-top: 30px;
  background-color:rgba(255, 255, 255, 0.8);
}

/* home-roomtext のスタイル */
.home-roomtext {
 margin-bottom: 320px;
 text-align: center;
}

/* homecenter-outer のスタイル */
.homecenter-outer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 735px;
  border: 2px solid #000;
  margin-top: -738px;
  background-color:rgba(255, 255, 255, 0.8);
}

/* home-compbtn のスタイル */
.home-compbtn {
  position: absolute;
  margin-left:1000px;
  margin-top: 665px;
  width: 100px;
  height: 40px;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px #008000;
  transition: all 0.3s ease;
}

/* ボタンがホバーされたときのスタイル */
.home-compbtn:hover {
  transform: scale(1.1);
  box-shadow: 0 8px #008000;
}

/* homecenter-inner のスタイル */
.homecenter-inner {
  height: 600px;
  width: 1100px;
  border: 2px solid #000;
  background-color: white;
}

/* homeright-outer のスタイル */
.homeright-outer {
  float: right;
  margin-top: -738px;
  margin-right: 20px;
  border-style: solid;
  border-width: 2px;
  width: 250px;
  height: 735px;
  overflow: auto;
  background-color:rgba(255, 255, 255, 0.8);
}

/* home-furnituretext のスタイル */
.home-furnituretext {
  margin-top: 5px;
  text-align: center;
}


/* spacecenter-outer のスタイル */
.spacecenter-outer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 735px;
  border: 2px solid #000;
  margin-top: 40px;
  background-color:rgba(255, 255, 255, 0.8);
}

/* space-compbtn のスタイル */
.space-compbtn {
  position: absolute;
  margin-left:1000px;
  margin-top: 665px;
  width: 100px;
  height: 40px;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px #008000;
  transition: all 0.3s ease;
}

/* ボタンがホバーされたときのスタイル */
.space-compbtn:hover {
  transform: scale(1.1);
  box-shadow: 0 8px #008000;
}

/* space-createbtn のスタイル */
.space-createbtn {
  position: absolute;
  margin-left:1000px;
  margin-top: -675px;
  width: 100px;
  height: 40px;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px #008000;
  transition: all 0.3s ease;
}

/* ボタンがホバーされたときのスタイル */
.space-createbtn:hover {
  transform: scale(1.1);
  box-shadow: 0 8px #008000;
}


.space-form{
  position: absolute;
  margin-top: -50px;
  left: 0;
  margin-left: 408px;
  height: 25px;
}

/* spacecenter-inner のスタイル */
.spacecenter-inner {
  height: 600px;
  width: 1100px;
  border: 2px solid #000;
  background-color: white;
}



/* furniturecenter-outer のスタイル */
.furniturecenter-outer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 735px;
  border: 2px solid #000;
  margin-top: 40px;
  background-color:rgba(255, 255, 255, 0.8);
}

/* furniture-compbtn のスタイル */
.furniture-compbtn {
  position: absolute;
  margin-top: 646px;
  width: 250px;
  height: 40px;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px #008000;
}


/* furniture-createbtn のスタイル */
.furniture-createbtn {
  position: absolute;
  margin-left:1000px;
  margin-top: -675px;
  width: 100px;
  height: 40px;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px #008000;
  transition: all 0.3s ease;
}

/* ボタンがホバーされたときのスタイル */
.furniture-createbtn:hover {
  transform: scale(1.1);
  box-shadow: 0 8px #008000;
}

/* furniture-addbtn のスタイル */
.furniture-addbtn {
  position: absolute;
  margin-left:1000px;
  margin-top: 665px;
  width: 100px;
  height: 40px;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px #008000;
  transition: all 0.3s ease;
}

/* ボタンがホバーされたときのスタイル */
.furniture-addbtn:hover {
  transform: scale(1.1);
  box-shadow: 0 8px #008000;
}


.furniture-form{
  position: absolute;
  margin-top: -50px;
  left: 0;
  margin-left: 408px;
  height: 25px;
}

.genre-form{
  position: absolute;
  margin-top: -50px;
  left: 0;
  margin-left: 600px;
  height: 25px;
  width: 200px;
}

/* furniturecenter-inner のスタイル */
.furniturecenter-inner {
  height: 600px;
  width: 1100px;
  border: 2px solid #000;
  background-color: white;
}

/* furnitureright-outer のスタイル */
.furnitureright-outer {
  float: right;
  margin-top: -738px;
  margin-right: 20px;
  border-style: solid;
  border-width: 2px;
  width: 250px;
  height: 735px;
  background-color:rgba(255, 255, 255, 0.8);
}

/* furniture-furnituretext のスタイル */
.furniture-furnituretext {
  margin-top: 5px;
  text-align: center;
}

/* printcenter-outer のスタイル */
.printcenter-outer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 735px;
  border: 2px solid #000;
  margin-top: 40px;
  background-color:rgba(255, 255, 255, 0.8);
}

/* print-printbtn のスタイル */
.print-printbtn {
  position: absolute;
  margin-left:1000px;
  margin-top: 665px;
  width: 100px;
  height: 40px;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px #008000;
  transition: all 0.3s ease;
}

/* ボタンがホバーされたときのスタイル */
.print-printbtn:hover {
  transform: scale(1.1);
  box-shadow: 0 8px #008000;
}

/* printcenter-inner のスタイル */
.printcenter-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 1100px;
  border: 2px solid #000;
  background-color: white;
}

/* printleft-outer のスタイル */
.printleft-outer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 20px;
}

/* print-roomlist のスタイル */
.print-roomlist {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 733px;
  width: 250px;
  border: 2px solid #000;
  margin-top: -739px;
  background-color:rgba(255, 255, 255, 0.8);
}

/* print-roomtext のスタイル */
.print-roomtext {
  margin-top: 5px;
  text-align: center;
}


/* photocenter-outer のスタイル */
.photocenter-outer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 735px;
  border: 2px solid #000;
  margin-top: 40px;
  background-color:rgba(255, 255, 255, 0.8);
}

/* photo-photobtn のスタイル */
.photo-photobtn {
  position: absolute;
  margin-left:1000px;
  margin-top: 665px;
  width: 100px;
  height: 40px;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px #008000;
  transition: all 0.3s ease;
}

/* ボタンがホバーされたときのスタイル */
.photo-photobtn:hover {
  transform: scale(1.1);
  box-shadow: 0 8px #008000;
}

/* photocenter-inner のスタイル */
.photocenter-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 1100px;
  border: 2px solid #000;
  background-color: white;
}

/* photoleft-outer のスタイル */
.photoleft-outer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 20px;
}

/* photo-roomlist のスタイル */
.photo-roomlist {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 733px;
  width: 250px;
  border: 2px solid #000;
  margin-top: -739px;
  background-color:rgba(255, 255, 255, 0.8);
}

/* photo-roomtext のスタイル */
.photo-roomtext {
  margin-top: 5px;
  text-align: center;
}


/* inquirycenter-outer のスタイル */
.inquirycenter-outer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 735px;
  border: 2px solid #000;
  margin-top: 40px;
  background-color:rgba(255, 255, 255, 0.8);
}

.inquiry-text{
  font-size: 20px;
  position: absolute;
  margin-top: -650px;
}



/* inquiry-sendbtn のスタイル */
.inquiry-sendbtn {
  position: absolute;
  margin-left:1000px;
  margin-top: 665px;
  width: 100px;
  height: 40px;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px #008000;
  transition: all 0.3s ease;
}

/* ボタンがホバーされたときのスタイル */
.inquiry-sendbtn:hover {
  transform: scale(1.1);
  box-shadow: 0 8px #008000;
}

/* inquirycenter-form のスタイル */
.inquirycenter-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 1100px;
  border: 2px solid #000;
  resize: none;
}


.rectAngle-confirm{
  position: relative;
  margin-top: 20px;
  margin-left: 160px;
  width: 60px;
  height: 20px;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-size: 12px;
  cursor: pointer;
  box-shadow: 0 4px #008000;
  transition: all 0.3s ease;
}

.rectAngle-confirm:hover {
  transform: scale(1.1);
  box-shadow: 0 8px #008000;
}

.rectAngle-confirm2{
  position: relative;
  margin-top: 20px;
  margin-left: 160px;
  width: 60px;
  height: 20px;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-size: 12px;
  cursor: pointer;
  box-shadow: 0 4px #008000;
  transition: all 0.3s ease;
}

.rectAngle-confirm2:hover {
  transform: scale(1.1);
  box-shadow: 0 8px #008000;
}

.rectAngle-confirm3{
  position: relative;
  margin-top: 20px;
  margin-left: 160px;
  width: 60px;
  height: 20px;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-size: 12px;
  cursor: pointer;
  box-shadow: 0 4px #008000;
  transition: all 0.3s ease;
}

.rectAngle-confirm3:hover {
  transform: scale(1.1);
  box-shadow: 0 8px #008000;
}

.rectAngle-confirm4{
  position: relative;
  margin-top: 20px;
  margin-left: 160px;
  width: 60px;
  height: 20px;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-size: 12px;
  cursor: pointer;
  box-shadow: 0 4px #008000;
  transition: all 0.3s ease;
}

.rectAngle-confirm4:hover {
  transform: scale(1.1);
  box-shadow: 0 8px #008000;
}

.rectAngle-confirm5{
  position: relative;
  margin-top: 20px;
  margin-left: 160px;
  width: 60px;
  height: 20px;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-size: 12px;
  cursor: pointer;
  box-shadow: 0 4px #008000;
  transition: all 0.3s ease;
}

.rectAngle-confirm5:hover {
  transform: scale(1.1);
  box-shadow: 0 8px #008000;
}

.rectAngle-confirm6{
  position: relative;
  margin-top: 20px;
  margin-left: 160px;
  width: 60px;
  height: 20px;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-size: 12px;
  cursor: pointer;
  box-shadow: 0 4px #008000;
  transition: all 0.3s ease;
}

.rectAngle-confirm6:hover {
  transform: scale(1.1);
  box-shadow: 0 8px #008000;
}

.rectAngle-confirm7{
  position: relative;
  margin-top: 20px;
  margin-left: 160px;
  width: 60px;
  height: 20px;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-size: 12px;
  cursor: pointer;
  box-shadow: 0 4px #008000;
  transition: all 0.3s ease;
}

.rectAngle-confirm7:hover {
  transform: scale(1.1);
  box-shadow: 0 8px #008000;
}

.rectAngle-confirm8{
  position: relative;
  margin-top: 20px;
  margin-left: 160px;
  width: 60px;
  height: 20px;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-size: 12px;
  cursor: pointer;
  box-shadow: 0 4px #008000;
  transition: all 0.3s ease;
}

.rectAngle-confirm8:hover {
  transform: scale(1.1);
  box-shadow: 0 8px #008000;
}

.rectAngle-confirm9{
  position: relative;
  margin-top: 20px;
  margin-left: 160px;
  width: 60px;
  height: 20px;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-size: 12px;
  cursor: pointer;
  box-shadow: 0 4px #008000;
  transition: all 0.3s ease;
}

.rectAngle-confirm9:hover {
  transform: scale(1.1);
  box-shadow: 0 8px #008000;
}

.rectAngle-confirm10{
  position: relative;
  margin-top: 20px;
  margin-left: 160px;
  width: 60px;
  height: 20px;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-size: 12px;
  cursor: pointer;
  box-shadow: 0 4px #008000;
  transition: all 0.3s ease;
}

.rectAngle-confirm10:hover {
  transform: scale(1.1);
  box-shadow: 0 8px #008000;
}

.rectAngle-confirm11{
  position: relative;
  margin-top: 20px;
  margin-left: 160px;
  width: 60px;
  height: 20px;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-size: 12px;
  cursor: pointer;
  box-shadow: 0 4px #008000;
  transition: all 0.3s ease;
}

.rectAngle-confirm11:hover {
  transform: scale(1.1);
  box-shadow: 0 8px #008000;
}

.rectAngle-confirm12{
  position: relative;
  margin-top: 20px;
  margin-left: 160px;
  width: 60px;
  height: 20px;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-size: 12px;
  cursor: pointer;
  box-shadow: 0 4px #008000;
  transition: all 0.3s ease;
}

.rectAngle-confirm12:hover {
  transform: scale(1.1);
  box-shadow: 0 8px #008000;
}

.rectAngle-confirm13{
  position: relative;
  margin-top: 38px;
  margin-left: 160px;
  width: 60px;
  height: 20px;
  border: none;
  background-color: #0c9611;
  color: white;
  font-size: 12px;
  cursor: pointer;
  box-shadow: 0 4px #008000;
  transition: all 0.3s ease;
}

.rectAngle-confirm13:hover {
  transform: scale(1.1);
  box-shadow: 0 8px #008000;
}

.rectAngle-SizeForm1{
  position: relative;
  margin-top: 35px;
  margin-left: 20px;
  width: 200px;
  text-align: center;
}

.rectAngle-SizeForm2{
  position: relative;
  margin-top: 30px;
  margin-left: 20px;
  width: 200px;
  text-align: center;
}

.rectAngle-SizeForm3{
  position: relative;
  margin-top: 35px;
  margin-left: 20px;
  width: 200px;
  text-align: center;
}

.rectAngle-SizeForm4{
  position: relative;
  margin-top: 35px;
  margin-left: 20px;
  width: 200px;
  text-align: center;
}

.rectAngle-SizeForm5{
  position: relative;
  margin-top: 30px;
  margin-left: 20px;
  width: 200px;
  text-align: center;
}

.rectAngle-SizeForm6{
  position: relative;
  margin-top: 35px;
  margin-left: 20px;
  width: 200px;
  text-align: center;
}

.rectAngle-SizeForm7{
  position: relative;
  margin-top: 30px;
  margin-left: 20px;
  width: 200px;
  text-align: center;
}

.rectAngle-SizeForm8{
  position: relative;
  margin-top: 35px;
  margin-left: 20px;
  width: 200px;
  text-align: center;
}

.rectAngle-SizeForm9{
  position: relative;
  margin-top: 30px;
  margin-left: 20px;
  width: 200px;
  text-align: center;
}

.rectAngle-SizeForm10{
  position: relative;
  margin-top: 35px;
  margin-left: 20px;
  width: 200px;
  text-align: center;
}

.rectAngle-SizeForm11{
  position: relative;
  margin-top: 30px;
  margin-left: 20px;
  width: 200px;
  text-align: center;
}

.rectAngle-SizeForm12{
  position: relative;
  margin-top: 35px;
  margin-left: 20px;
  width: 200px;
  text-align: center;
}

.rectAngle-SizeForm13{
  position: relative;
  margin-top: 30px;
  margin-left: 20px;
  width: 200px;
  text-align: center;
}

.rectAngle-SizeForm14{
  position: relative;
  margin-top: 35px;
  margin-left: 20px;
  width: 200px;
  text-align: center;
}

.rectAngle-SizeForm15{
  position: relative;
  margin-top: 30px;
  margin-left: 20px;
  width: 200px;
  text-align: center;
}

.rectAngle-SizeForm16{
  position: relative;
  margin-top: 35px;
  margin-left: 20px;
  width: 200px;
  text-align: center;
}

.rectAngle-SizeForm17{
  position: relative;
  margin-top: 30px;
  margin-left: 20px;
  width: 200px;
  text-align: center;
}

.rectAngle-SizeForm18{
  position: relative;
  margin-top: 35px;
  margin-left: 20px;
  width: 200px;
  text-align: center;
}

.rectAngle-SizeForm19{
  position: relative;
  margin-top: 30px;
  margin-left: 20px;
  width: 200px;
  text-align: center;
}

.rectAngle-SizeForm20{
  position: relative;
  margin-top: 35px;
  margin-left: 20px;
  width: 200px;
  text-align: center;
}

.rectAngle-SizeForm21{
  position: relative;
  margin-top: 30px;
  margin-left: 20px;
  width: 200px;
  text-align: center;
}

.rectAngle-SizeForm22{
  position: relative;
  margin-top: 35px;
  margin-left: 20px;
  width: 200px;
  text-align: center;
}

.rectAngle-SizeForm23{
  position: relative;
  margin-top: 30px;
  margin-left: 20px;
  width: 200px;
  text-align: center;
}

.rectAngle-SizeForm24{
  position: relative;
  margin-top: 35px;
  margin-left: 20px;
  width: 200px;
  text-align: center;
}

.rectAngle-SizeForm25{
  position: relative;
  margin-top: 30px;
  margin-left: 20px;
  width: 200px;
  text-align: center;
}

.rectAngle-SizeForm26{
  position: relative;
  margin-top: 35px;
  margin-left: 20px;
  width: 200px;
  text-align: center;
}

.rectAngle-SizeForm27{
  position: relative;
  margin-top: 30px;
  margin-left: 20px;
  width: 200px;
  text-align: center;
}

.rectAngle-SizeForm28{
  position: relative;
  margin-top: 35px;
  margin-left: 20px;
  width: 200px;
  text-align: center;
}

.rectAngle-SizeForm29{
  position: relative;
  margin-top: 30px;
  margin-left: 20px;
  width: 200px;
  text-align: center;
}

.rectAngle-SizeForm30{
  position: relative;
  margin-top: 35px;
  margin-left: 20px;
  width: 200px;
  text-align: center;
  font-size: 10px;
}

.rectAngle-SizeForm31{
  position: relative;
  margin-top: 30px;
  margin-left: 20px;
  width: 200px;
  text-align: center;
  font-size: 10px;
}

.size-form-error{
  position: relative;
  color: red;
  font-size: 12px;
  margin-top: -140px;
  text-align: center;

}

.size-form-error2{
  position: relative;
  color: red;
  font-size: 12px;
  margin-top: -140px;
  text-align: center;

}

.size-form-error3{
  position: relative;
  color: red;
  font-size: 12px;
  margin-top: -140px;
  text-align: center;

}

.size-form-error4{
  position: relative;
  color: red;
  font-size: 12px;
  margin-top: -140px;
  text-align: center;

}

.size-form-error5{
  position: relative;
  color: red;
  font-size: 12px;
  margin-top: -140px;
  text-align: center;

}

.size-form-error6{
  position: relative;
  color: red;
  font-size: 12px;
  margin-top: -140px;
  text-align: center;

}

.size-form-error7{
  position: relative;
  color: red;
  font-size: 12px;
  margin-top: -140px;
  text-align: center;

}

.size-form-error8{
  position: relative;
  color: red;
  font-size: 12px;
  margin-top: -140px;
  text-align: center;

}

.size-form-error9{
  position: relative;
  color: red;
  font-size: 12px;
  margin-top: -140px;
  text-align: center;

}

.note1{
  position: absolute;
  color: blue;
  margin-left: 10px;
  font-size: 10px;
  margin-top: 10px;
  text-align: center;

}

.note2{
  position: absolute;
  color: blue;
  margin-left: 10px;
  font-size: 10px;
  margin-top: 10px;
  text-align: center;

}

.note3{
  position: absolute;
  color: blue;
  margin-left: 10px;
  font-size: 10px;
  margin-top: 10px;
  text-align: center;

}

.note4{
  position: absolute;
  color: blue;
  margin-left: 10px;
  font-size: 10px;
  margin-top: 10px;
  text-align: center;

}

.note5{
  position: absolute;
  color: blue;
  margin-left: 10px;
  font-size: 10px;
  margin-top: 10px;
  text-align: center;

}

.note6{
  position: absolute;
  color: blue;
  margin-left: 10px;
  font-size: 10px;
  margin-top: 115px;
  text-align: center;

}

.note7{
  position: absolute;
  color: blue;
  margin-left: 10px;
  font-size: 10px;
  margin-top: 10px;
  text-align: center;

}

.note8{
  position: absolute;
  color: blue;
  margin-left: 10px;
  font-size: 10px;
  margin-top: 115px;
  text-align: center;

}

.note9{
  position: absolute;
  color: blue;
  margin-left: 10px;
  font-size: 10px;
  margin-top: 10px;
  text-align: center;

}

.note10{
  position: absolute;
  color: blue;
  margin-left: 10px;
  font-size: 10px;
  margin-top: 115px;
  text-align: center;

}

.note11{
  position: absolute;
  color: blue;
  margin-left: 10px;
  font-size: 10px;
  margin-top: 10px;
  text-align: center;

}

.note12{
  position: absolute;
  color: blue;
  margin-left: 10px;
  font-size: 10px;
  margin-top: 115px;
  text-align: center;

}

.note13{
  position: absolute;
  color: blue;
  margin-left: 10px;
  font-size: 10px;
  margin-top: 115px;
  text-align: center;

}

.note14{
  position: absolute;
  color: black;
  margin-left: 10px;
  font-size: 12px;
  font-weight: bold;
  margin-top: 180px;
  text-align: center;

}

.div2{
  position: absolute;
  border-width: 2px;
  border-style: solid;
  width: 250px;
  height: 160px;
  margin-top: -385px;
  margin-left: 425px;
  background-color: rgb(13, 141, 158);
}

.div4{
  position: absolute;
  border-width: 2px;
  border-style: solid;
  width: 250px;
  height: 160px;
  margin-top: -385px;
  margin-left: 425px;
  background-color: rgb(13, 141, 158);
}

.div6{
  position: absolute;
  border-width: 2px;
  border-style: solid;
  width: 250px;
  height: 160px;
  margin-top: -385px;
  margin-left: 425px;
  background-color: rgb(13, 141, 158);
}

.div8{
  position: absolute;
  border-width: 2px;
  border-style: solid;
  width: 250px;
  height: 160px;
  margin-top: -385px;
  margin-left: 425px;
  background-color: rgb(13, 141, 158);
}

.div10{
  position: absolute;
  border-width: 2px;
  border-style: solid;
  width: 250px;
  height: 160px;
  margin-top: -385px;
  margin-left: 425px;
  background-color: rgb(13, 141, 158);
}

.div12{
  position: absolute;
  border-width: 2px;
  border-style: solid;
  width: 250px;
  height: 160px;
  margin-top: -385px;
  margin-left: 425px;
  background-color: rgb(13, 141, 158);
}

.div14{
  position: absolute;
  border-width: 2px;
  border-style: solid;
  width: 250px;
  height: 270px;
  margin-top: -385px;
  margin-left: 425px;
  background-color: rgb(13, 141, 158);
}

.div16{
  position: absolute;
  border-width: 2px;
  border-style: solid;
  width: 250px;
  height: 270px;
  margin-top: -385px;
  margin-left: 425px;
  background-color: rgb(13, 141, 158);
}

.div18{
  position: absolute;
  border-width: 2px;
  border-style: solid;
  width: 250px;
  height: 270px;
  margin-top: -385px;
  margin-left: 425px;
  background-color: rgb(13, 141, 158);
}

.div20{
  position: absolute;
  border-width: 2px;
  border-style: solid;
  width: 250px;
  height: 270px;
  margin-top: -385px;
  margin-left: 425px;
  background-color: rgb(13, 141, 158);
}

.div22{
  position: absolute;
  border-width: 2px;
  border-style: solid;
  width: 250px;
  height: 270px;
  margin-top: -385px;
  margin-left: 425px;
  background-color: rgb(13, 141, 158);
}

.div24{
  position: absolute;
  border-width: 2px;
  border-style: solid;
  width: 250px;
  height: 270px;
  margin-top: -385px;
  margin-left: 425px;
  background-color: rgb(13, 141, 158);
}

.paturn-text{
  font-size: 10px;
  text-align: center;
}

.check1{
  position: absolute;
  margin-top: 6px;
  margin-left: 35px;
}

.check2{
  position: absolute;
  margin-top: 6px;
  margin-left: 10px;
}

.paturn1{
  width: 60px;
  height: 60px;
  margin-left: 50px;
  
}

.paturn2{
  width: 60px;
  height: 60px;
  margin-left: 35px;
}

.space-form-error{
  position: absolute;
  margin-top: -650px;
  color: red;
  margin-left: -450px;
}

.furniture-form-error{
  position: absolute;
  margin-top: -650px;
  color: red;
  margin-left: -10px;
}

.addBtn{
  width: 35px;
  height: 15px;
  margin-left: 10px;
  font-size: 12px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px #008000;
  transition: all 0.3s ease;
}

.addBtn:hover {
  transform: scale(1.1);
  box-shadow: 0 8px #008000;
}

.cancelBtn{
  width: 35px;
  height: 15px;
  margin-left: 10px;
  font-size: 12px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px #008000;
  transition: all 0.3s ease;
}

.cancelBtn:hover {
  transform: scale(1.1);
  box-shadow: 0 8px #008000;
}

.editBtn{
  width: 35px;
  height: 15px;
  margin-left: 10px;
  font-size: 12px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px #008000;
  transition: all 0.3s ease;
}

.editBtn:hover {
  transform: scale(1.1);
  box-shadow: 0 8px #008000;
}

.add-list{
  margin-left: -30px;
  margin-top: 30px;
  font-weight: bold;
}

.add-list2{
  margin-left: -15px;
  margin-top: 30px;
  font-weight: bold;
}

.btn-box{
  margin-top: -23px;
  margin-left: 70px;
}

.btn-box2{
  margin-top: -23px;
  margin-left: 200px;
}



.deleteBtn{
  width: 35px;
  height: 15px;
  font-size: 12px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px #008000;
  transition: all 0.3s ease;
}

.deleteBtn:hover {
  transform: scale(1.1);
  box-shadow: 0 8px #008000;
}

.furniture-addlist{
  position: absolute;
  list-style: none;
}

.dropdown-container{
  border-style: solid;
  border-width: 0px;
  background-color: white;
  border-top-width: 2px;
  border-bottom-width: 2px;
}

.genre-text{
  margin-left: 20px;
  margin-top: 1px;
  font-size: 12px;
}

.genre-checktext{
  position: absolute;
  margin-left: 25px;
  font-size: 12px;
}

.caret-down{
  position: absolute;
  cursor: pointer;
  margin-left: 200px;
  margin-top: -21px;
  font-size: 20px;
}

.fa-caret-up{
  position: absolute;
  margin-top: 2px;
}

.check{
  position: absolute;
}



.genre-dropdown > li {
  background-color: rgba(255,255,255,0);
  text-align: center;
  width: 200px;
  /* 閉じている状態 */
  border-top: 0 white solid;
  padding-top: 0;
  padding-bottom: 0 ;
  /* 閉じるアニメーション */
  transition:
    border-top     .3s ease-out,
    padding-top    .3s ease-out,
    padding-bottom .3s ease-out;
}
.genre-dropdown.is-open > li {
  /* 開いている状態 */
 
  border-bottom: 1px white solid;
  padding-top: 13px;
  padding-bottom: 13px;
  /* 開くアニメーション */
  transition:
    border-top     .3s ease-out,
    padding-top    .3s ease-out,
    padding-bottom .3s ease-out;
}
.genre-dropdown > li {
  /* 閉じている状態 */
  line-height: 0;
  opacity: 0;
  visibility: hidden;
  /* 閉じるアニメーション */
  transition:
    line-height .3s ease-out,
    opacity     .1s linear,
    visibility  .1s linear;
}
.genre-dropdown.is-open > li {
  /* 開いている状態 */
  line-height: 1.5;
  opacity: 1;
  visibility: visible;
  /* 開くアニメーション */
  transition:
    line-height .3s ease-out,
    opacity     .1s linear .1s,
    visibility  .1s linear .1s;
}