body{
  animation: background-pan 10s linear infinite;
   background: linear-gradient(
     to right,
     var(--g1),
     var(--g2),
     var(--g1)
   );
   background-size: 200%;
}

@keyframes background-pan{
  from{
    background-position: 0% center;
  }
  to{
    background-position: -200% center;
  }
}

:root{
  --g1:rgb(98,0,234);
  --g2:rgb(236,64,122);
  --g3:rgb(0, 149, 236);
  --g4:rgb(28, 90, 54);
  --g5:rgb(174, 177, 39);
  --g6:rgb(136, 97, 66);
  --g7:rgb(38, 141, 81);
  --g8:rgb(255, 60, 0);
  --g9:rgb(255, 123, 0);
  --g10:rgb(0, 80, 236);
}







.decor{
  color: rgb(211, 175, 129);
  font-size: 36px;
  line-height: 1em;
  padding: 10px 0;
  margin: 0;
  letter-spacing: 6px;
  user-select: none;
  height:90px;
  text-align: center;
  margin-left: 10px;
  margin-top: 50px;
  font-size: 34px;
  font-weight: bold;
}

h2{
  text-align: center;
  margin-left: 12px;
  font-size: 19px;
  margin-top: -40px;
}

.exp-box{
  width: 290px;
  margin-left: 45px;
  margin-top: -10px;
}

.exp-text{
  font-size: 10px;
  font-weight: bold;
}

.mail-box{
  font-size: 12px;
  margin-left: 230px;
  width: 380px;
  margin-top: 30px;
}

.fa-circle-check{
  position: fixed;
  padding-left: 20px;
  font-size: 30px;
  margin-top: -8px;
}

.fa-circle-check:hover:before{
 color: blue;
}

.cansel-btn{
  margin-top: 40px;
  margin-left: 153px;
}

.cansel-btn:hover{
  color: gray;
}

.form{
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.form-outer{
  width: 380px;
  height: 500px;
  border-style: solid;
  border-width: 1px;
  background-color: white;
}



.male-form{
  height: 30px;
  width: 300px;
  margin-left: 36px;
  margin-top: 10px;
}



.login-outer{
  margin-left: 36px;
  margin-top: 30px;

}

button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

.send-btn{
  width: 300px;
  height: 30px;
  line-height: 30px;
  border-radius: 10px;
  background-color:darkmagenta;
  color: white;
  font-weight: bold;
}


.sub-outer{
  text-align: center;
  margin-top: 20px;
}


.sub-link{
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: bold;
}

:hover.sub-link{
  color: gray;
}

.hr-left{
  width: 120px;
  margin-left: 230px;
  position: absolute;
  margin-top: 31px;

}

.hr-right{
  width: 120px;
  margin-left: 30px;
  margin-top: -25px;
}

.or{
  text-align: center;
}

.user-register3{
  font-weight: bold;
}

.get-mail{
  position: fixed;
  margin-left: -196px;
  font-size: 11px;
  font-weight: bold;
  margin-top: 1px;
}





.loader{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: solid 4px;
  border-color: #0400ff #0400ff57 #0400ff57;
  position: fixed;
  margin-top: -420px;
  margin-left: 340px;
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}