body{
  animation: background-pan 10s linear infinite;
   background: linear-gradient(
     to right,
     var(--g1),
     var(--g2),
     var(--g1)
   );
   background-size: 200%;
}

@keyframes background-pan{
  from{
    background-position: 0% center;
  }
  to{
    background-position: -200% center;
  }
}

:root{
  --g1:rgb(98,0,234);
  --g2:rgb(236,64,122);
  --g3:rgb(0, 149, 236);
  --g4:rgb(28, 90, 54);
  --g5:rgb(174, 177, 39);
  --g6:rgb(136, 97, 66);
  --g7:rgb(38, 141, 81);
  --g8:rgb(255, 60, 0);
  --g9:rgb(255, 123, 0);
  --g10:rgb(0, 80, 236);
}










.decor {
  color: rgb(211, 175, 129);
  font-size: 36px;
  line-height: 1em;
  padding: 10px 0;
  margin: 0;
  letter-spacing: 6px;
  user-select: none;
  height:90px;
  text-align: center;
  margin-left: 10px;
  margin-top: 50px;
  font-size: 34px;
  font-weight: bold;

}

.form{
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.form-outer{
  width: 380px;
  height: 500px;
  border-style: solid;
  border-width: 1px;
  background-color: white;
}

.user-form{
  height: 30px;
  width: 300px;
  margin-left: 36px;

}

.pass-form{
  height: 30px;
  width: 300px;
  margin-left: 36px;
  margin-top: 10px;
}

.pass-reset-outer{
  margin-left: 168px;
  margin-top: 20px;
}

.reset-dierect{
  text-decoration: none;
}



.login-outer{
  margin-left: 36px;
  margin-top: 30px;
}

button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

.login-btn{
  width: 300px;
  height: 30px;
  line-height: 30px;
  border-radius: 10px;
  background-color:darkmagenta;
  color: white;
  font-weight: bold;
}

.check-outer{
  height: 0px;
  margin-top: 20px;
  margin-left: 100px;
}

.checkbox-label {
  display: flex;
  align-items: center;
}

.checkbox-input {
  margin-right: 8px; /* チェックボックスとテキストの間のスペースを調整 */
}

.checkbox-text {
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  font-size: 12px;
}


.sub-outer{
  text-align: center;
  margin-top: 50px;
}

.sub-dierect{
  text-decoration: none;
}

.sub{
  font-weight: bold;
  
}

.pass-reset{
 font-weight: bold;
}

.user-register{
 font-weight: bold;
 font-size: 16px;
 color: blue;
}

.error-form{
  position: fixed;
  font-size: 12px;
  color: red;
  margin-left: 45px;
  margin-top: -30px;
}